# SQLite DB

In [ ]:
import sqlite3

In [ ]:
# create a connection to the SQLite DB
conn = sqlite3.connect('sqlite/test.db')

In [3]:
# Create a cursor object to execute SQL Commands
cursor = conn.cursor()

In [4]:
# Create a table
cursor.execute(
"""
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
)
"""
)

In [5]:
# Insert data into table
cursor.execute(
"INSERT INTO employees (name, age, department) VALUES (?, ?, ?)", 
    ('John Doe', 30, 'Sales')

)

In [8]:
cursor.execute(
"INSERT INTO employees (name, age, department) VALUES (?, ?, ?)", 
    ('Crazy Dude', 42, 'IT')

)

In [9]:
# Retreive data

cursor.execute("SELECT * FROM employees")

In [10]:
rows = cursor.fetchall()

In [11]:
rows

[(1, 'John Doe', 30, 'Sales'), (2, 'Crazy Dude', 42, 'IT')]

In [12]:
conn.commit()

In [13]:
conn.close()

In [14]:
rows

[(1, 'John Doe', 30, 'Sales'), (2, 'Crazy Dude', 42, 'IT')]